.footer {
    background-color: #00000099;
    color: #fff;
    padding: 12px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(112, 83, 83, 0.1);
    position: fixed;
    width: 100%;
    /* margin-bottom: 0%; */
    bottom: 0;
}

.copyright {
    font-size: 12px;
    font-weight: 100;
}

/* Collapsible sidebar for mobile devices */
@media (max-width: 768px) {
    .copyright {
        font-size: 8px;
        /* font-weight: 100; */
    }
}
