.level-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #000000cc;
    border: 3px solid #aaa;
    border-radius: 5px;
    width: 350px;
}

.window-name {
    text-align: center;
    color: #ccc;
    padding: 10px 10px;
    font-size: 20px;
}

.line {
    width: 100%;
    margin: 0;
}

.window-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.window-item {
    width: 100%;
    display: flex;
    padding: 12px 0;
    align-items: center;
    justify-content: center;
    border: 1px solid #aaa;
}

.window-item a {
    color: #ccc;
    text-decoration: none;
    user-select: none; /* Prevent text selection */
    width: 100%;
    height: 100%;
    text-align: center;
}

.window-item:hover {
    background-color: rgb(108, 108, 108);
}
.window-item:active {
    background-color: rgb(180, 180, 180);
}
